body {
    font-family: sans-serif;
    background-color:black;
}

header img {
    width: 100px;
    float: left;
}

header h1 {
    color: white;
    margin-top: 30px;
}

.menu {
    display: flex;
    justify-content: start;
}

main h1 {
    color: white;
    text-align: center;
}

main h2 {
    color: white;
    text-align: center;
}

main a {
    color: white;
    border: 2px solid;
    border-radius: 100px;
    padding: 5px;
    text-decoration: none;
}

.Категории {
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: 7px solid;
    border-radius: 100px;
    text-decoration: none;
}

.Компьютеры {
    display: flex;
    justify-content: center;
}

.Видеокарты {
    display: flex;
    justify-content: center;
}

.Мониторы {
    display: flex;
    justify-content: center;
}

main img {
    width: 250px;
    display: flex;
    justify-content: center;
}

.Купить {
    color: black;
    border: 5px solid;
    border-radius: 10px;
    border-color: greenyellow;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    transition: 1.5;
}

.Купить:hover {
    transform: translateY(-20px);
    transition: all 1.5s ease;
    box-shadow: 10px 10px 1px 1px grey;
}

.Купить:focus {
    transform: scale(1);
    box-shadow: 3px 5px 1px 1px grey;
    transition: all 0.2s;
}

.Гр {
    border: 5px solid;
    border-radius: 10px;
    border-color: dimgrey;
    padding: 20px;
}

.В {
    display: flex;
    justify-content: center;
}

p {
    color: white;
    display: flex;
    justify-content: left;
    float: left;
}

.Контакты {
    color: white;
    display: flex;
    justify-content: center;
}

.ТЭ {
    width: 50px;
    display: flex;
    justify-content: start;
    float: left;
}

hr {
    height: 6.7px;
    background-color: white;
}

.ccc:hover {
    transform: translateY(-50px);
    transition: all 1.5s ease;
}

.ccc {
    transition: all 1.5s ease;
    background-color: black;
}

.cccc:hover {
    transform: translateY(-50px);
    transition: all 1.5s ease;
}

.cccc {
    transition: all 1.5s ease;
    background-color: black;
}

.c {
    transition: all 1.5s ease;
}

.c:hover {
    transform: translateY(-10px);
    transition: all 1s ease;
    color: black;
    background-color: white;
    box-shadow: 1px 3px 1px 1px grey;
}

.c:focus {
    transform: scale(1);
    box-shadow: 0.5px 1px 1px 1px grey;
    transition: all 0.2s;
}
